// Variables de wrapper
$wrapperDesktop: 85vw;
// Variables de mediaqueries
$desktop: 1920px;
$laptop: 1350px;
$tablet: 1080px;
$mobile: 480px;
// Variables de fontes
$font: 'Poppins-Regular',
sans-serif;
$font-medium: 'Poppins-Medium',
sans-serif;
$font-semiBold: 'Poppins-SemiBold',
sans-serif;
$font-bold: 'Poppins-Bold',
sans-serif;
$font-latoRegular: 'Lato-Regular',
sans-serif;
$font-light: 'Poppins-Light',
sans-serif;
// Variables de couleurs
$color-darkGrey: #141517;
$color-dark: #2c2e3f;
$color-grey: rgba(44, 46, 63, 0.7);
$color-lightGrey: rgba(20, 21, 23, 0.5);
$color-steelBlue: #578094;
$color-coolGrey: #8f91a3;
$color-verylightGrey: #dbdbdb;
// Variables cubic-bezier
$curve: cubic-bezier(.7, 0, .3, 1);
$curve2: cubic-bezier(.82, .01, .2, .99);